<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="OpenCVSharp" version="2.4.0.1" targetFramework="net46" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="RawPrint" version="0.5.0" targetFramework="net45" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net46" />
</packages>